<div class="jumbotron">
    <h1>
        {{ctrl.HeroHeader}}
    </h1>

    <p>
        {{ctrl.HeroText}}
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="#/candidate/donald-trump">One word to describe Donald Trump</a>
        <a class="btn btn-primary btn-large" href="#/candidate/hillary-clinton">One word to describe Hillary Clinton</a>
        <a class="btn btn-primary btn-large" href="#/candidate/bernie-sanders">One word to describe Bernie Sanders</a>
        <a class="btn btn-primary btn-large" href="#/candidate/ted-cruz">One word to describe Ted Cruz</a>
    </p>
</div>